* {
  padding: 0px;
  margin: 0px;
}

header {
  width: 100%;
  height: 150px;
  border-bottom: 2px solid white;
}

#photoAndContant {
  width: 30%;
  height: 150px;
  background: #997857;
  float: left;
}

header img {
  width: 25%;
  height: 150px;
  border-radius: 50%;
  float: left;
}

#photoAndContant h1 {
  font-size: 45px;
  line-height: 150px;
  padding-right: 50px;
  float: right;
  animation: text-flicker-out-glow 10s linear infinite both;
}
@keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 0;
    text-shadow: none;
  }
  14.9% {
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 0;
    text-shadow: none;
  }
  24.9% {
    opacity: 0;
    text-shadow: none;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 0;
    text-shadow: none;
  }
  39.9% {
    opacity: 0;
    text-shadow: none;
  }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 0;
    text-shadow: none;
  }
  44.9% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 0;
    text-shadow: none;
  }
  69.4% {
    opacity: 0;
    text-shadow: none;
  }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 0;
    text-shadow: none;
  }
  79.4% {
    opacity: 0;
    text-shadow: none;
  }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  80% {
    opacity: 0;
    text-shadow: none;
  }
  89.8% {
    opacity: 0;
    text-shadow: none;
  }
  89.9% {
    opacity: 1;
    text-shadow: none;
  }
  90% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 0;
  }
}

nav {
  width: 70%;
  height: 150px;
  float: right;
  background-color: #997857;
}

nav ul {
  margin: 0px;
  padding: 0px;

  list-style-type: none;
}
nav li {
  width: 20%;
  height: 100px;
  margin: 13px;
  padding: 10px;
  margin-left: 8%;
  display: inline-block;
  background-color: rgb(193 160 126);
  border: 2px solid white;
}
nav li a:hover {
  background-color: black;
  color: aliceblue;
}

nav li a {
  font-size: 30px;
  color: black;
  text-align: center;
  display: block;
  line-height: 60px;
  padding: 20px 20px;
  text-decoration: none;
}

aside {
  width: 30%;
  height: 500px;
  background-color: #c1a07e;
  float: left;
}
aside img {
  width: 100%;
  height: 210px;
}
aside h3 {
  text-align: center;
  margin: 2px;
  padding: 2px;
}
main {
  width: 69.7%;
  height: 500px;
  border: 2px solid white;
  background-color: #c1a07e;
  float: right;
}

article {
  width: 100%;
  height: 480px;
  background-color: #c1a07e;
}
.resturant {
  width: 100%;
  height: 480px;
}
.resturant img {
  width: 50%;
  height: 420px;
  float: right;
  margin: 20px;
}
article h1 {
  font-size: 35px;
  direction: rtl;
  padding: 20px;
  margin: 20px;
  word-spacing: 1px;
}

footer {
  width: 100%;
  height: 200px;
  background: linear-gradient(to left, dimgray, #c1a07e);
  display: flex;
}
#span1 {
  width: 100%;
  height: 200px;

  text-align: center;
  position: relative;
}
#SS {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
  display: flexbox;
}

[id="SocialMedia"] {
  width: 350px;
  height: 93px;

  display: flex;
  justify-content: center;
  position: absolute;
  left: 40%;
  border: 2px solid white;
}
#SocialMedia a {
  font-size: 20px;
  text-decoration: none;
  padding: 0px;
  margin-top: 10px;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#SocialMedia a:hover {
  animation: none;
}

footer img {
  width: 50px;
  height: 50px;
  margin: 10px;
}
#phone {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 78%;
  left: 42%;
}

/*            @Mediaaaaaaaaaaaaaaaaaaa  HERE 
-----------------------------------------------------------------
-------------(min-width: 400px) and (max-width: 599px)----------------------------------
*/
@media (min-width: 400px) and (max-width: 599px) {
  header {
    width: 100%;
    height: 120px;
    border-bottom: 2px solid white;
  }
  #photoAndContant {
    width: 50%;
    height: 150px;
    background: #997857;
    float: left;
  }

  header img {
    width: 55%;
    height: 145px;
    border-radius: 50%;
    float: left;
  }

  #photoAndContant h1 {
    display: none;
  }

  @keyframes text-flicker-out-glow {
    0% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    13.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    14% {
      opacity: 0;
      text-shadow: none;
    }
    14.9% {
      opacity: 0;
      text-shadow: none;
    }
    15% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    22.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    23% {
      opacity: 0;
      text-shadow: none;
    }
    24.9% {
      opacity: 0;
      text-shadow: none;
    }
    25% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    34.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    35% {
      opacity: 0;
      text-shadow: none;
    }
    39.9% {
      opacity: 0;
      text-shadow: none;
    }
    40% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35);
    }
    42.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35);
    }
    43% {
      opacity: 0;
      text-shadow: none;
    }
    44.9% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    54.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 0;
      text-shadow: none;
    }
    69.4% {
      opacity: 0;
      text-shadow: none;
    }
    69.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    69.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    70% {
      opacity: 0;
      text-shadow: none;
    }
    79.4% {
      opacity: 0;
      text-shadow: none;
    }
    79.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    80% {
      opacity: 0;
      text-shadow: none;
    }
    89.8% {
      opacity: 0;
      text-shadow: none;
    }
    89.9% {
      opacity: 1;
      text-shadow: none;
    }
    90% {
      opacity: 0;
      text-shadow: none;
    }
    100% {
      opacity: 0;
    }
  }

  nav {
    width: 50%;
    height: 150px;
    float: right;
    background: #997857;
  }
  nav ul {
    width: 100%;
    height: 150px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    float: left;
    display: flex;
    justify-content: flex-end;
  }
  nav li {
    width: 45%;
    height: 100px;
    margin: 10px;
    padding: 12px;
    text-align: center;
    margin-left: 0px;
    background-color: rgb(193 160 126);
    display: inline-block;
    border: 2px solid white;
  }
  nav li a:hover {
    background-color: black;
    color: aliceblue;
  }

  nav li a {
    font-size: 20px;
    color: black;
    text-align: center;
    display: block;
    line-height: 60px;
    padding: 20px 0px;
    text-decoration: none;
  }

  aside {
    width: 100%;
    height: 530px;
    background-color: #c1a07e;

    float: none;
  }
  aside img {
    width: 100%;
    height: 210px;
  }
  aside h3 {
    text-align: center;
    margin: 2px;
    padding: 2px;
  }

  main {
    width: 100%; /* 78.8 */
    height: 600px;
    border: 2px solid white;
    background-color: #c1a07e;
    float: none;
  }

  article {
    width: 100%;
    height: 530px;
    background-color: #c1a07e;
  }
  .resturant {
    width: 100%;
    height: 480px;
    margin: 0px;
    padding: 0px;
  }
  .resturant img {
    width: 100%;
    height: 300px;
    margin: 10px;
    float: none;
  }
  article h1 {
    font-size: 23px;
    padding: 10px;
    margin: 0px;
    word-spacing: 1px;
  }

  footer {
    width: 100%;
    height: 200px;
    background: linear-gradient(to left, dimgray, dodgerblue);
    display: flex;
  }
  #span1 {
    width: 100%;
    height: 200px;

    text-align: center;
    position: relative;
  }
  #SS {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    display: flexbox;
  }

  [id="SocialMedia"] {
    width: 350px;
    height: 93px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 10%;
    border: 2px solid white;
  }
  #SocialMedia a {
    font-size: 20px;
    text-decoration: none;
    padding: 0px;
    margin-top: 10px;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
  }
  @keyframes pulsate-fwd {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  #SocialMedia a:hover {
    animation: none;
  }

  footer img {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  #phone {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 78%;
    left: 20%;
  }
}
/*-----------------------------------------------------------------
-------------(min-width: 600px) and (max-width: 800px)-------------------
*/
@media (min-width: 600px) and (max-width: 800px) {
  header {
    width: 100%;
    height: 150px;
    border-bottom: 2px solid white;
  }

  #photoAndContant {
    width: 50%;
    height: 150px;
    background: #997857;
    float: left;
  }

  header img {
    width: 35%;
    height: 145px;
    border-radius: 50%;
    float: left;
  }

  #photoAndContant h1 {
    /* width: 100px; */
    /* height: 100px; */
    padding-top: 80px;
    font-size: 20px;
    float: right;
    padding-left: 7px;
    line-height: 0px;
    animation: text-flicker-out-glow 10s linear infinite both;
  }

  @keyframes text-flicker-out-glow {
    0% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    13.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    14% {
      opacity: 0;
      text-shadow: none;
    }
    14.9% {
      opacity: 0;
      text-shadow: none;
    }
    15% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    22.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    23% {
      opacity: 0;
      text-shadow: none;
    }
    24.9% {
      opacity: 0;
      text-shadow: none;
    }
    25% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    34.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    35% {
      opacity: 0;
      text-shadow: none;
    }
    39.9% {
      opacity: 0;
      text-shadow: none;
    }
    40% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35);
    }
    42.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35);
    }
    43% {
      opacity: 0;
      text-shadow: none;
    }
    44.9% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    54.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 0;
      text-shadow: none;
    }
    69.4% {
      opacity: 0;
      text-shadow: none;
    }
    69.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    69.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    70% {
      opacity: 0;
      text-shadow: none;
    }
    79.4% {
      opacity: 0;
      text-shadow: none;
    }
    79.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    80% {
      opacity: 0;
      text-shadow: none;
    }
    89.8% {
      opacity: 0;
      text-shadow: none;
    }
    89.9% {
      opacity: 1;
      text-shadow: none;
    }
    90% {
      opacity: 0;
      text-shadow: none;
    }
    100% {
      opacity: 0;
    }
  }

  nav {
    width: 50%;
    height: 150px;
    float: right;
    background: #997857;
  }
  nav ul {
    width: 100%;
    height: 150px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    float: left;
    display: flex;
    justify-content: flex-end;
  }
  nav li {
    width: 25%;
    height: 100px;
    margin: 10px;
    padding: 12px;
    text-align: center;
    margin-left: 0px;
    background-color: rgb(193 160 126);
    display: inline-block;
    border: 2px solid white;
  }
  nav li a:hover {
    background-color: black;
    color: aliceblue;
  }

  nav li a {
    font-size: 20px;
    color: black;
    text-align: center;
    display: block;
    line-height: 60px;
    padding: 20px 3px;
    text-decoration: none;
  }

  aside {
    width: 100%;
    height: 500px;
    background-color: #c1a07e;

    float: none;
  }
  aside img {
    width: 100%;
    height: 210px;
  }
  aside h3 {
    text-align: center;
    margin: 2px;
    padding: 2px;
  }

  main {
    width: 100%; /* 78.8 */
    height: 500px;
    border: 2px solid white;
    background-color: #c1a07e;
    float: none;
  }

  article {
    width: 100%;
    height: 480px;
    background-color: #c1a07e;
  }
  .resturant {
    width: 100%;
    height: 480px;
  }
  .resturant img {
    width: 60%;
    height: 300px;
    float: right;
    margin: 10px;
  }
  article h1 {
    font-size: 25px;
    direction: rtl;
    padding: 15px;
    margin: 20px;
    word-spacing: 1px;
  }

  footer {
    width: 100%;
    height: 200px;
    background: linear-gradient(to left, dimgray, #c1a07e);
    display: flex;
  }
  #span1 {
    width: 100%;
    height: 200px;

    text-align: center;
    position: relative;
  }
  #SS {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    display: flexbox;
  }

  [id="SocialMedia"] {
    width: 350px;
    height: 93px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 20%;
    border: 2px solid white;
  }
  #SocialMedia a {
    font-size: 20px;
    text-decoration: none;
    padding: 0px;
    margin-top: 10px;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
  }
  @keyframes pulsate-fwd {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  #SocialMedia a:hover {
    animation: none;
  }

  footer img {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  #phone {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 78%;
    left: 27%;
  }
}
/* 
 ------------------------------------------------------------------
 ----------(min-width: 801px) and (max-width: 1000px)-------------
*/
@media (min-width: 801px) and (max-width: 1000px) {
  header {
    width: 100%;
    height: 150px;
    border-bottom: 2px solid white;
  }

  #photoAndContant {
    width: 50%;
    height: 150px;
    background: #997857;
    float: left;
  }

  header img {
    width: 35%;
    height: 150px;
    border-radius: 50%;
    float: left;
  }

  #photoAndContant h1 {
    font-size: 25px;
    line-height: 150px;
    padding-left: 170px;
    animation: text-flicker-out-glow 10s linear infinite both;
    float: none;
  }

  @keyframes text-flicker-out-glow {
    0% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    13.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    14% {
      opacity: 0;
      text-shadow: none;
    }
    14.9% {
      opacity: 0;
      text-shadow: none;
    }
    15% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    22.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    23% {
      opacity: 0;
      text-shadow: none;
    }
    24.9% {
      opacity: 0;
      text-shadow: none;
    }
    25% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    34.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    35% {
      opacity: 0;
      text-shadow: none;
    }
    39.9% {
      opacity: 0;
      text-shadow: none;
    }
    40% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35);
    }
    42.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35);
    }
    43% {
      opacity: 0;
      text-shadow: none;
    }
    44.9% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    54.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 0;
      text-shadow: none;
    }
    69.4% {
      opacity: 0;
      text-shadow: none;
    }
    69.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    69.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    70% {
      opacity: 0;
      text-shadow: none;
    }
    79.4% {
      opacity: 0;
      text-shadow: none;
    }
    79.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    80% {
      opacity: 0;
      text-shadow: none;
    }
    89.8% {
      opacity: 0;
      text-shadow: none;
    }
    89.9% {
      opacity: 1;
      text-shadow: none;
    }
    90% {
      opacity: 0;
      text-shadow: none;
    }
    100% {
      opacity: 0;
    }
  }

  nav {
    width: 50%;
    height: 150px;
    float: right;
    background: #997857;
  }
  nav ul {
    width: 100%;
    height: 150px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    float: left;
    display: flex;
    justify-content: flex-end;
  }
  nav li {
    width: 25%;
    height: 100px;
    margin: 10px;
    padding: 12px;
    text-align: center;
    margin-left: 0px;
    background-color: rgb(193 160 126);
    display: inline-block;
    border: 2px solid white;
  }
  nav li a:hover {
    background-color: black;
    color: aliceblue;
  }

  nav li a {
    font-size: 20px;
    color: black;
    text-align: center;
    display: block;
    line-height: 60px;
    padding: 20px 3px;
    text-decoration: none;
  }

  aside {
    width: 100%;
    height: 650px;
    background-color: #c1a07e;
    float: none;
  }
  aside img {
    width: 100%;
    height: 280px;
  }
  aside h3 {
    text-align: center;
    margin: 2px;
    padding: 2px;
  }

  main {
    width: 100%; /* 78.8 */
    height: 500px;
    border: 2px solid white;
    background-color: #c1a07e;
    float: none;
  }

  article {
    width: 100%;
    height: 480px;
    background-color: #c1a07e;
  }
  .resturant {
    width: 100%;
    height: 480px;
  }
  .resturant img {
    width: 60%;
    height: 300px;
    float: right;
    margin: 10px;
  }
  article h1 {
    font-size: 25px;
    direction: rtl;
    padding: 15px;
    margin: 20px;
    word-spacing: 1px;
  }

  footer {
    width: 100%;
    height: 200px;
    background: linear-gradient(to left, dimgray, #c1a07e);
    display: flex;
  }
  #span1 {
    width: 100%;
    height: 200px;

    text-align: center;
    position: relative;
  }
  #SS {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    display: flexbox;
  }

  [id="SocialMedia"] {
    width: 350px;
    height: 93px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 30%;
    border: 2px solid white;
  }
  #SocialMedia a {
    font-size: 20px;
    text-decoration: none;
    padding: 0px;
    margin-top: 10px;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
  }
  @keyframes pulsate-fwd {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  #SocialMedia a:hover {
    animation: none;
  }

  footer img {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  #phone {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 78%;
    left: 36%;
  }
}
/* 
 ----------------------------------------------------------------
 -----------(min-width: 1001px) and (max-width: 1200px)------------------
*/
@media (min-width: 1001px) and (max-width: 1200px) {
  header {
    width: 100%;
    height: 150px;
    border-bottom: 2px solid white;
  }

  #photoAndContant {
    width: 40%;
    height: 150px;
    background: #997857;
    float: left;
  }

  header img {
    width: 35%;
    height: 150px;
    border-radius: 50%;
    float: left;
  }

  #photoAndContant h1 {
    font-size: 25px;
    line-height: 150px;
    padding-left: 0px;
    animation: text-flicker-out-glow 10s linear infinite both;
    float: right;
  }

  @keyframes text-flicker-out-glow {
    0% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    13.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    14% {
      opacity: 0;
      text-shadow: none;
    }
    14.9% {
      opacity: 0;
      text-shadow: none;
    }
    15% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    22.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    23% {
      opacity: 0;
      text-shadow: none;
    }
    24.9% {
      opacity: 0;
      text-shadow: none;
    }
    25% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    34.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    35% {
      opacity: 0;
      text-shadow: none;
    }
    39.9% {
      opacity: 0;
      text-shadow: none;
    }
    40% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35);
    }
    42.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35);
    }
    43% {
      opacity: 0;
      text-shadow: none;
    }
    44.9% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    54.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 0;
      text-shadow: none;
    }
    69.4% {
      opacity: 0;
      text-shadow: none;
    }
    69.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    69.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    70% {
      opacity: 0;
      text-shadow: none;
    }
    79.4% {
      opacity: 0;
      text-shadow: none;
    }
    79.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    80% {
      opacity: 0;
      text-shadow: none;
    }
    89.8% {
      opacity: 0;
      text-shadow: none;
    }
    89.9% {
      opacity: 1;
      text-shadow: none;
    }
    90% {
      opacity: 0;
      text-shadow: none;
    }
    100% {
      opacity: 0;
    }
  }

  nav {
    width: 60%;
    height: 150px;
    float: right;
    background: #997857;
  }
  nav ul {
    width: 100%;
    height: 150px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    float: left;
    display: flex;
    justify-content: flex-end;
  }
  nav li {
    width: 25%;
    height: 100px;
    margin: 10px;
    padding: 12px;
    text-align: center;
    margin-left: 0px;
    background-color: rgb(193 160 126);
    display: inline-block;
    border: 2px solid white;
  }
  nav li a:hover {
    background-color: black;
    color: aliceblue;
  }

  nav li a {
    font-size: 20px;
    color: black;
    text-align: center;
    display: block;
    line-height: 60px;
    padding: 20px 3px;
    text-decoration: none;
  }

  aside {
    width: 100%;
    height: 650px;
    background-color: #c1a07e;
    float: none;
  }
  aside img {
    width: 100%;
    height: 280px;
  }
  aside h3 {
    text-align: center;
    margin: 2px;
    padding: 2px;
  }

  main {
    width: 100%; /* 78.8 */
    height: 500px;
    border: 2px solid white;
    background-color: #c1a07e;
    float: none;
  }

  article {
    width: 100%;
    height: 480px;
    background-color: #c1a07e;
  }
  .resturant {
    width: 100%;
    height: 480px;
  }
  .resturant img {
    width: 60%;
    height: 420px;
    float: right;
    margin: 20px;
  }
  article h1 {
    font-size: 28px;
    direction: rtl;
    padding: 15px;
    margin: 20px;
    word-spacing: 1px;
  }

  footer {
    width: 100%;
    height: 200px;
    background: linear-gradient(to left, dimgray, #c1a07e);
    display: flex;
  }
  #span1 {
    width: 100%;
    height: 200px;

    text-align: center;
    position: relative;
  }
  #SS {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    display: flexbox;
  }

  [id="SocialMedia"] {
    width: 350px;
    height: 93px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 30%;
    border: 2px solid white;
  }
  #SocialMedia a {
    font-size: 20px;
    text-decoration: none;
    padding: 0px;
    margin-top: 10px;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
  }
  @keyframes pulsate-fwd {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  #SocialMedia a:hover {
    animation: none;
  }

  footer img {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  #phone {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 78%;
    left: 36%;
  }
}
/* 
 --------------------------------------------------------------------
---------------(min-width: 1201px) and (max-width: 1500px)-------
*/
@media (min-width: 1201px) and (max-width: 1500px) {
  header {
    width: 100%;
    height: 150px;
    border-bottom: 2px solid white;
  }

  #photoAndContant {
    width: 40%;
    height: 150px;
    background: #997857;
    float: left;
  }

  header img {
    width: 28%;
    height: 150px;
    border-radius: 50%;
    float: left;
  }

  #photoAndContant h1 {
    font-size: 25px;
    line-height: 150px;
    padding-left: 0px;
    animation: text-flicker-out-glow 10s linear infinite both;
    float: right;
  }

  @keyframes text-flicker-out-glow {
    0% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    13.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    14% {
      opacity: 0;
      text-shadow: none;
    }
    14.9% {
      opacity: 0;
      text-shadow: none;
    }
    15% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    22.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    23% {
      opacity: 0;
      text-shadow: none;
    }
    24.9% {
      opacity: 0;
      text-shadow: none;
    }
    25% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    34.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    35% {
      opacity: 0;
      text-shadow: none;
    }
    39.9% {
      opacity: 0;
      text-shadow: none;
    }
    40% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35);
    }
    42.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35);
    }
    43% {
      opacity: 0;
      text-shadow: none;
    }
    44.9% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    54.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 0;
      text-shadow: none;
    }
    69.4% {
      opacity: 0;
      text-shadow: none;
    }
    69.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    69.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    70% {
      opacity: 0;
      text-shadow: none;
    }
    79.4% {
      opacity: 0;
      text-shadow: none;
    }
    79.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    80% {
      opacity: 0;
      text-shadow: none;
    }
    89.8% {
      opacity: 0;
      text-shadow: none;
    }
    89.9% {
      opacity: 1;
      text-shadow: none;
    }
    90% {
      opacity: 0;
      text-shadow: none;
    }
    100% {
      opacity: 0;
    }
  }

  nav {
    width: 60%;
    height: 150px;
    float: right;
    background: #997857;
  }
  nav ul {
    width: 100%;
    height: 150px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    float: left;
    display: flex;
    justify-content: flex-end;
  }
  nav li {
    width: 25%;
    height: 100px;
    margin: 10px;
    padding: 12px;
    text-align: center;
    margin-left: 0px;
    background-color: rgb(193 160 126);
    display: inline-block;
    border: 2px solid white;
  }
  nav li a:hover {
    background-color: black;
    color: aliceblue;
  }

  nav li a {
    font-size: 20px;
    color: black;
    text-align: center;
    display: block;
    line-height: 60px;
    padding: 20px 3px;
    text-decoration: none;
  }

  aside {
    width: 40%;
    height: 650px;
    background-color: #c1a07e;
    float: left;
  }
  aside img {
    width: 100%;
    height: 280px;
  }
  aside h3 {
    text-align: center;
    margin: 2px;
    padding: 2px;
  }

  main {
    width: 59.6%;
    height: 648px;
    border: 2px solid white;
    background-color: #c1a07e;
    float: right;
  }

  article {
    width: 100%;
    height: 480px;
    background-color: #c1a07e;
  }
  .resturant {
    width: 100%;
    height: 480px;
  }
  .resturant img {
    width: 65%;
    height: 350px;
    float: right;
    margin: 15px;
  }
  article h1 {
    font-size: 28px;
    direction: rtl;
    padding: 15px;
    margin: 10px;
    word-spacing: 10px;
  }

  footer {
    width: 100%;
    height: 200px;
    background: linear-gradient(to left, dimgray, #c1a07e);
    display: flex;
  }
  #span1 {
    width: 100%;
    height: 200px;

    text-align: center;
    position: relative;
  }
  #SS {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    display: flexbox;
  }

  [id="SocialMedia"] {
    width: 350px;
    height: 93px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 30%;
    border: 2px solid white;
  }
  #SocialMedia a {
    font-size: 20px;
    text-decoration: none;
    padding: 0px;
    margin-top: 10px;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
  }
  @keyframes pulsate-fwd {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  #SocialMedia a:hover {
    animation: none;
  }
  footer img {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  #phone {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 78%;
    left: 36%;
  }
}
/* 
 --------------------------------------------------------------------
 -------------------(min-width: 1501px)----------------------------
*/

@media (min-width: 1501px) {
  header {
    width: 100%;
    height: 150px;
    border-bottom: 2px solid white;
  }

  #photoAndContant {
    width: 30%;
    height: 150px;
    background: #997857;
    float: left;
  }

  header img {
    width: 25%;
    height: 150px;
    border-radius: 50%;
    float: left;
  }

  #photoAndContant h1 {
    font-size: 40px;
    line-height: 150px;
    padding-right: 50px;
    float: right;
    animation: text-flicker-out-glow 10s linear infinite both;
  }
  @keyframes text-flicker-out-glow {
    0% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    13.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
        0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    14% {
      opacity: 0;
      text-shadow: none;
    }
    14.9% {
      opacity: 0;
      text-shadow: none;
    }
    15% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    22.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
        0 0 100px rgba(255, 255, 255, 0.1);
    }
    23% {
      opacity: 0;
      text-shadow: none;
    }
    24.9% {
      opacity: 0;
      text-shadow: none;
    }
    25% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    34.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    35% {
      opacity: 0;
      text-shadow: none;
    }
    39.9% {
      opacity: 0;
      text-shadow: none;
    }
    40% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35);
    }
    42.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
        0 0 60px rgba(255, 255, 255, 0.35);
    }
    43% {
      opacity: 0;
      text-shadow: none;
    }
    44.9% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    54.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 0;
      text-shadow: none;
    }
    69.4% {
      opacity: 0;
      text-shadow: none;
    }
    69.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    69.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
        0 0 60px rgba(255, 255, 255, 0.25);
    }
    70% {
      opacity: 0;
      text-shadow: none;
    }
    79.4% {
      opacity: 0;
      text-shadow: none;
    }
    79.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    80% {
      opacity: 0;
      text-shadow: none;
    }
    89.8% {
      opacity: 0;
      text-shadow: none;
    }
    89.9% {
      opacity: 1;
      text-shadow: none;
    }
    90% {
      opacity: 0;
      text-shadow: none;
    }
    100% {
      opacity: 0;
    }
  }

  nav {
    width: 70%;
    height: 150px;
    float: right;
    background-color: #997857;
  }

  nav ul {
    margin: 0px;
    padding: 0px;

    list-style-type: none;
  }
  nav li {
    width: 20%;
    height: 100px;
    margin: 13px;
    padding: 10px;
    margin-left: 8%;
    display: inline-block;
    background-color: rgb(193 160 126);
    border: 2px solid white;
  }
  nav li a:hover {
    background-color: black;
    color: aliceblue;
  }

  nav li a {
    font-size: 30px;
    color: black;
    text-align: center;
    display: block;
    line-height: 60px;
    padding: 20px 20px;
    text-decoration: none;
  }

  aside {
    width: 30%;
    height: 500px;
    background-color: #c1a07e;
    float: left;
  }
  aside img {
    width: 100%;
    height: 210px;
  }
  aside h3 {
    text-align: center;
    margin: 2px;
    padding: 2px;
  }
  main {
    width: 69.7%;
    height: 500px;
    border: 2px solid white;
    background-color: #c1a07e;
    float: right;
  }

  article {
    width: 100%;
    height: 480px;
    background-color: #c1a07e;
  }
  .resturant {
    width: 100%;
    height: 480px;
  }
  .resturant img {
    width: 50%;
    height: 420px;
    float: right;
    margin: 20px;
  }
  article h1 {
    font-size: 30px;
    direction: rtl;
    padding: 20px;
    margin: 20px;
    word-spacing: 1px;
  }

  footer {
    width: 100%;
    height: 200px;
    background: linear-gradient(to left, dimgray, #c1a07e);
    display: flex;
  }
  #span1 {
    width: 100%;
    height: 200px;

    text-align: center;
    position: relative;
  }
  #SS {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    display: flexbox;
  }

  [id="SocialMedia"] {
    width: 350px;
    height: 93px;

    display: flex;
    justify-content: center;
    position: absolute;
    left: 40%;
    border: 2px solid white;
  }
  #SocialMedia a {
    font-size: 20px;
    text-decoration: none;
    padding: 0px;
    margin-top: 10px;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
  }
  @keyframes pulsate-fwd {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  #SocialMedia a:hover {
    animation: none;
  }

  footer img {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  #phone {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 78%;
    left: 42%;
  }
}
